@import "../../global.scss";

.skills {
    background-image: url("../../../public/assets/background.png");
    background-position: center;
    display: flex;

    .body {
        background-color: white;
        width: 80%;
        padding: 50px 50px;
        margin: auto;
        box-sizing: border-box;
        border: 2.5px solid #000000;
        align-items: center;
        align-content: center;
        text-align: left;
    }
    table {
        width: 100%;
        text-align: center;
    }
}
