@import "../../global.scss";

.contact {
    background-image: url("../../../public/assets/background.png");
    background-position: center;
    display: flex;
    align-items: center;
    .body {
        background-color: white;
        width: 80%;
        padding: 50px 50px;
        margin: auto;
        box-sizing: border-box;
        border: 2.5px solid #000000;
    }
}